@charset "UTF-8";
/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  /* line 13, /home/oren/code/orenyk.github.io/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Source Serif Pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 17, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 21, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 25, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 29, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 33, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 37, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 41, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 45, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 50, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 54, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 60, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 68, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 73, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 80, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 84, /home/oren/code/orenyk.github.io/source/stylesheets/base/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Source Serif Pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em; }

/* line 16, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Source Serif Pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 68, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

/* line 74, /home/oren/code/orenyk.github.io/source/stylesheets/base/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /home/oren/code/orenyk.github.io/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /home/oren/code/orenyk.github.io/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /home/oren/code/orenyk.github.io/source/stylesheets/base/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /home/oren/code/orenyk.github.io/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 22, /home/oren/code/orenyk.github.io/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 27, /home/oren/code/orenyk.github.io/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Bitters needs to be imported before Neat */
/* line 2, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.6.0/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_layout.scss */
#main {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  #main:after {
    content: "";
    display: table;
    clear: both; }

/* line 5, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_layout.scss */
#sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  /* line 38, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.6.0/app/assets/stylesheets/grid/_span-columns.scss */
  #sidebar:last-child {
    margin-right: 0; }

/* line 9, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_layout.scss */
#content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  /* line 38, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/neat-1.6.0/app/assets/stylesheets/grid/_span-columns.scss */
  #content:last-child {
    margin-right: 0; }

/* line 1, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
.centered-navigation {
  background-color: #E7F1EC;
  border-bottom: 1px solid #d4e6dd;
  font-family: "Source Serif Pro", Georgia, Cambria, "Times New Roman", Times, serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  /* line 23, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    /* line 29, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      /* line 23, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation .mobile-logo {
        display: none; } }
  /* line 40, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation .centered-navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 40, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    /* line 54, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #333; }
  /* line 61, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation .centered-navigation-wrapper {
    max-width: 43.75em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    /* line 15, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /home/oren/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 68, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      /* line 68, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    /* line 86, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  /* line 92, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation ul li.nav-link {
    background: #E7F1EC;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 92, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        /* line 107, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
    /* line 112, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block; }
      /* line 117, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul li.nav-link a:hover {
        color: #333; }
  /* line 123, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 123, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  /* line 132, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: .6; }
  /* line 140, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 140, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    /* line 147, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    /* line 151, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    /* line 155, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    /* line 159, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: '\25BE'; }
  /* line 166, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 170, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more a {
      padding-right: 1em; }
    /* line 174, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        /* line 174, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      /* line 182, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    /* line 190, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      /* line 166, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  /* line 200, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 200, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      /* line 210, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 217, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        /* line 217, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 224, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          /* line 229, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      /* line 236, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          /* line 236, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_header.scss */
          .centered-navigation ul.submenu li a {
            background-color: #E7F1EC;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

/* line 22, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
.footer-2 {
  background: #40526b;
  padding: 1.5em;
  width: 100%; }
  /* line 32, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 32, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  /* line 42, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 .footer-logo img {
    height: 1.6em; }
  /* line 46, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 46, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  /* line 55, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 53.75em) {
      /* line 55, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  /* line 65, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 68, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    /* line 73, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
    .footer-2 .footer-secondary-links {
      float: right; } }
  /* line 78, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  /* line 83, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 83, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    /* line 91, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      /* line 96, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    /* line 101, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      /* line 106, /home/oren/code/orenyk.github.io/source/stylesheets/partials/_footer.scss */
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
